# Dependencies
node_modules/

# Build output

out/
release/
dist/
recordings/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Large files & binaries
diff.txt
exe file/
*.exe
*.dmg
*.blockmap
*.7z
*.zip
frontend/data/